* {
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 1px solid blue; */
}

body{     
    background-image: url("Images/alps-altitude-bird-s-eye-view-2013658.png");
    background-size: cover;
    background-position-y: -50px;
}

.top{
        height: 400px;
        padding-top: 10px;
        margin-bottom: -300px;
    }
    
.logodiv{
    float: left;
    padding-left: 30px;
}

.topnavbar {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    font-size: 15px;
    font-weight: bold;
    justify-content: flex-end;
    height: 30px;
}

.toplink {
    margin: 5px 15px 0 0px;
    text-decoration: none;
    color: white;
}

#active {
    position: relative;
    }

#active::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        border-bottom: 1px solid white;
        left: 25%;
        bottom: 15%;
}

.hellobutton {    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3399cc;
    border-radius: 20px;
    border: 0px solid white;
    background-color: white;
    height: 30px;
    width: 90px;
    font-size: 13px;
    font-stretch: extra-expanded;
    font-weight: bold;
    margin-right: 20px;
}

.firstbuttontext {    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3399cc;
    height: 30px;
    width: 90px;
    font-size: 13px;
    font-stretch: extra-expanded;
    font-weight: bold;
    text-decoration: none;
}

.intro-h1 {
    float: initial;
    text-align: right;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    transform: rotate(-12deg);
    color: white;
    font-weight: lighter;
    text-shadow: -2px 2px gray;
    letter-spacing: 1px;
    padding-top: 7%;
}

#larger {
    font-size: 80px;
    justify-content: center;
    line-height: 69px;
}

#smaller {
    font-size: 65px;
    line-height: 0;
    padding-left: 30%;
    padding-top: 20px;
}

.workbutton {
    color:white;
    border-radius: 30px;
    background-color:#3693d6;
    height: 30px;
    width: 100px;
    font-weight: bolder;
    font-size: 13px;
    font-stretch: extra-condensed;
    border: 0px solid white;
    margin-top: 40px;
}

.workbuttondiv {
    display: flex;
    flex-direction: reverse;
    justify-content: center;
    margin-bottom: 50px;
}

.aboutme {
    background-color:#3693d6;
    margin:-20px;
    padding:auto;
    color: white;
    font-size: 14px;
}

#aboutme-header {
    padding: 50px 0 0px 0;
}


#aboutme-text {
    margin: 20px 50px 0 50px;
    padding: 0 50px 75px 50px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 25px;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}


@media (max-width: 700px){
    .hellobutton{
        display:none;}
}

/* Small devices */
@media (max-width: 568px){
    .intro-h1{
        transform: rotate(0);
        text-align: center;
        margin: 10px;
        font-variant-caps:all-small-caps;
        line-height: 22px;
        color: pearl;
    }

    .logodiv{  
        display: flex;
        justify-content: center;
        align-items: center;
        float:none;
        padding-left: 0px;
    }
    .sidelogo{ 
        height: 15%;
        width: 15%;
    }
    .toplogo{
        width:200px;
    }

    .topnavbar{
        display: flex;
        align-content:center;
        justify-content: center;
        font-size: 20px;
        margin: 10px 0 10px 0;
    }
    #active:after{
        margin-bottom:-6px;
    }

    .sidelogo {
        padding-right: 10px;
    }

    .toplink {
        margin: 0px 20px 0px 20x;
    }

    #larger{
            font-size: 60px;
            padding: 0 0 0 0;
            margin-top: -5px;
    }
    #smaller{
            padding:  0 0 0;
            font-size: 50px;
    }
    .workbutton{
        margin-top: 30px;
        border: 1px solid white;
    }
    .aboutme {
        margin: 0 -20px 0 -20px;
        padding: 0 0 -50px 0;
    }

    #aboutme-header {
        padding: 25px 10px 0px 10px;
    }

    body {
    background-position-y: -100px;
    background-size: 900px;
    }
}